<div id="home">

  <nav class="nav">
    <a id="newacc" class="nav-link" href="/newAcc">Create Account</a>
    <a id="signin" class="nav-link" href="#">Sign in</a>
    <a id="profile" class="nav-link" href="#">Profile</a>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <h1>{{msg}}</h1>
        <h2>Here you can create and sign up to participate in local sporting events!</h2>
        <div class="buttons">

          <h3>Select a category to view events for it</h3>
          <a href="/football" <button type="button" class="btn btn-outline-primary">Football</button></a>
          <a href="/baseball"<button type="button" class="btn btn-outline-secondary">Baseball</button></a>
          <a href="/soccer"<button type="button" class="btn btn-outline-success">Soccer</button></a>
          <a href="/basketball"<button type="button" class="btn btn-outline-danger">Basketball</button></a>
          <a href="/golf"<button type="button" class="btn btn-outline-warning">Golf</button></a>

        </div>

        <form class="clearfix mb-4" action="POST">
          <h4>Create a new event by filling out the form below:</h4>
          <div class="form-group">
            <label for="event-type">Event Type</label>
            <input type="text" id="event-type" class="form-control" aria-describedby="event-type" placeholder="Enter the type of Event">
          </div>
          <div class="form-group">
            <label for="event-description">Event Description</label>
            <textarea class="form-control" id="event-description" aria-describedby="event-description" placeholder="Enter the event description"></textarea>
          </div>
          <div class="form-group">
            <label for="event-location">Event Location</label>
            <input type="text" id="event-location" class="form-control" aria-describedby="event-location" placeholder="Enter the event Address">
          </div>
          <div class="form-group">
            <label for="event-time">Time of Event</label>
            <input type="text" id="event-time" class="form-control" aria-describedby="event-time" placeholder="When does it start">
          </div>
          <div class="form-group">
            <label for="players">How many people do you need?</label>
            <input type="text" id="players" class="form-control" aria-describedby="players" placeholder="Enter number of players needed">
          </div>

          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
