<nav class="nav">
  <a id="signin" class="nav-link" href="/signup">Signup</a>
</nav>

<h1>Login page</h1>

<form action="/users/login" method="post">
  <input type="text" name="username" value="">
  <input type="text" name="password" value="">
  <button type="submit" name="button">Submit</button>
</form>
