<div id="home">

  <nav class="nav">
    <a id="signin" class="nav-link" href="/login">Login</a>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Welcome to Sports Match!</h1>
        <h2>Here you can create and sign up to participate in local sporting events!</h2>

        <form class="clearfix mb-4" action="/users/signup" method="POST">
          <h4>Fill out the fields below to make a new account.</h4>
          <div class="form-group">
            <label for="newEmail">E-mail</label>
            <input type="text" name="email" id="newEmail" class="form-control" aria-describedby="newEmail" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="newUser">Username</label>
            <input type="text" name="username" id="newUser" class="form-control" aria-describedby="newUser" placeholder="Enter a Username">
          </div>
          <div class="form-group">
            <label for="newPassword">Password</label>
            <input type="text" name="password" id="newPassword" class="form-control" aria-describedby="newPassword" placeholder="Enter a password">
          </div>
          <button type="submit" id="submitNewUser" class="btn btn-primary float-right">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
